<div id ="auth" class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1>Авторы</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="assets/vit.png" alt="">
              <h4>Пискунов Виталий</h4>
              <h6 class="text-muted">Разработка грамматики<br>Клиент-серверная архитектура<br>Нормализация графа</h6>
            </div>
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="assets/gorst.png" alt="">
              <h4>Евгений Горст</h4>
              <h6 class="text-muted">Разработка грамматики<br>Извлечение им. сущностей и лемматизация<br>Извлечение отношений им. сущностей</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="mx-auto"> Санкт-Петербург 2017-2018 </p>
        </div>
</div>
